<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LeetSpeak Translate</title>
    </head>
    <body>
        <form action="/translation">
          <label for="userInput">Translate your words to LeetSpeak:</label>
          <input id="userInput" name="userInput" type="text" required>
          <button type="submit" class="btn btn-success" name="button">Translate!</button>
        </form>
    </body>
</html>
