<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LeetSpeak Translation</title>
    </head>
    <body>
        <h1>LeetSpeak Translation:</h1>
        <h3>{{ result }}</h3>
    </body>
</html>
